<!-- <div id="home-page-sign-in">
  <div id="bg">
    <img src="<%= asset_path 'background.jpg' %>" alt="">
  </div>
  <div id="main-page-wrapper">
    <h1> Sign In</h1>

    <form action="<%= session_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="email">Email</label>
    <input type="text"
    	   name="user[email]"
    	   id="email">
    <br>

    <label for="password">Password</label>
    <input type="password"
    	   name="user[password]"
    	   id="password">
    <br>

    <input type="submit" value="Sign In">

    </form>

    <%= link_to "Or Sign Up Here", new_user_url %>
  </div>
</div>

 -->

<div class="container">
  <div id="bg">
    <img src="<%= asset_path 'backgroundforest.jpg' %>" alt="">
  </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with</label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Sign In</p>
                <form action="<%= session_url %>" method="POST" class="login">
                      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="text" id="username" placeholder="Username" name="user[email]" />
                <input type="password" id="password" placeholder="Password" name="user[password]" />
                <input type="submit" value="Sign In" class="btn btn-success btn-sm" />
                <button type="submit" class="btn btn-success btn-sm guest-login">Guest Login</button>
                
                </form>
<%= button_to "Sign Up", new_user_url, id: "sign-up", class: "btn btn-success btn-sm sign-up login", :method => :get %>
            </div>
        </div>
    </div>
</div>